* {
     box-sizing: border-box;
}
body {
    font-family: "Roboto", "Open Sans", "Liberation Sans";
    margin: 0;
    font-size: 18px;
}


.wide-margin {
    
    padding-left: 300px;
    padding-right: 300px;
}

.medium-margin {
    padding-left: 500px;
    padding-right: 500px;
}

.narrow-margin {
    padding-left: 600px;
    padding-right: 600px;
}

/* Header section */

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: #e5e7eb;
    text-decoration: none;
}

.header p {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.title {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.hero-section {
    background-color: #1F2937;
    color: #f9faf8;
    padding-left: 300px;
    padding-right: 300px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
}

.two-column-layout {
    display: flex;
    padding: 100px 0 130px 0;
    align-items: center;
}

.left-column {
    flex-basis: 50%;
    padding-right: 90px;
}

.two-column-layout img {
    flex-basis: 50%;
    height: auto;
    width: 300px;;
}

button {
    background-color: #3882f6;
    padding: 8px 25px;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-size: 19px;
    font-weight: 700;
}

/* Random information section */

.img-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-text img {
    width: 180px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #3882f6
}

.img-text p {
    text-align: center;
    margin: 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 130px;
}
 

.h2-title {
    font-size: 27px;
    color: #1f2937;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* testimonial section*/

.testimonial-card {
    background-color: #e5e7eb;
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
}

.signature {
    align-self: flex-end;
    font-weight: 700;
}

.testimonial {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;

}

/*CTA*/

.box {
    background-color: #3882f6;
    margin: 130px 300px 130px 300px;
    display: flex;
    padding: 40px 300px 40px 300px;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    border-radius: 15px;
}

.border {
    border: solid 2px white;
}

.copyright {
    text-align: center;
    background-color: #1f2937;
    color: white;
    margin: 0;
    padding: 30px 0px;